<h3>ArticleDetail</h3>
@if(CurrentArticle is not null)
{
    <p>Name : @CurrentArticle.Name</p>
    <p>Category : @CurrentArticle.Category</p>
    <p>Prix : @CurrentArticle.Price</p>
    <p>Description : @CurrentArticle.Description</p>
}

@code {
    
}
